<h1>Favorites</h1>
<br>

<div *ngFor="let p of favoriteProperties">

    <a [routerLink]="['/property-details', p.data.property_id]">
    <img style="width: 300px;"*ngIf="p.data.photos[0].href != null" src="{{ p.data.photos[0]?.href }}"/></a>
    <p *ngIf="p.data.photos[0]?.href == null"><img src = "https://en.pimg.jp/072/139/682/1/72139682.jpg"></p>
    <p>Price: {{ p.data.list_price | currency }}</p>
    <p>Address: {{ p.data.location.address.line }}, {{ p.data.location.address.city }}, {{ p.data.location.address.postal_code }} {{ p.data.location.address.state_code }}</p>
    <p>#Beds: {{ p.data.description.beds }}</p>
    <P># Baths: {{ p.data.description.baths }}</P>
    <p>Square Feet: {{ p.data.description.sqft }}</p>
        <!-- <td><button (click)="RemoveFavorite(user.id, p.property_id)">Delete</button> </td>
    <p><app-mortgage-result [DisplayResult]="p.list_price" [downPament]="appUser.downPayment" ></app-mortgage-result></p> -->
</div>