<h1>Favorites</h1>
<br/>
<h3>Hey {{UserResult.firstName}}</h3>
<h5>All calculations are based on your last search.</h5>
<!-- <button onclick="toggleDisplay()">View Last Criteria</button> -->
<!-- <div *ngIf="displayLastCriteria"> -->
    <p>
        <strong>Down Payment:</strong> {{UserResult.downPayment}} &nbsp;•
        <strong>Loan Term:</strong> {{UserResult.loanTerm}} &nbsp;•
        <strong>Interest Rate:</strong> {{UserResult.interestRate}} &nbsp;•
        <strong>Closing Costs:</strong> {{UserResult.closingCost}} &nbsp;•
        <strong>Vacancy Rate:</strong> {{UserResult.vacancyRate}} &nbsp;•
        <strong>Management Fees:</strong> {{UserResult.managementFee}} &nbsp;
    </p>
<!-- </div> -->
<div class="page-container">
  <div class="content-container">
    <div *ngFor="let p of favoriteProperties" class="property-card">
      <i class="fas fa-heart" (click)="DeleteFavorite(user.id, p.data.property_id)" id="heart"></i>
      <div class="left-side">
        <p>
          <a [routerLink]="['/property-details', p.data.property_id]">
            <img *ngIf="p.data.photos[0].href != null" src="{{ p.data.photos[0]?.href }}"/></a>
        </p>
        <p *ngIf="p.data.photos[0]?.href == null">
          <img src="https://en.pimg.jp/072/139/682/1/72139682.jpg" />
        </p>
        <h3>{{ p.data.list_price | currency }}</h3>
        <p>
          {{ p.data.location.address.line }},
        <br>
          {{ p.data.location.address.city }},
          {{ p.data.location.address.state_code }}
          {{ p.data.location.address.postal_code }}
        </p>
        <p>
          <strong
            >{{ p.data.description.beds }} Beds &nbsp;
            {{ p.data.description.baths }} Baths &nbsp;
            {{ p.data.description.sqft }} Square Feet</strong
          >
        </p>
      </div>
      <div class="right-side">
                <!-- [Rent]="calculateRentIncome(p.data.)" -->
        <app-mortgage-result
        *ngIf="isPrepared(p.data.property_id)"
        [DisplayResult]="ConvertDetailsToResult(p)"
        [User]="UserResult"
        [vacancyRate]="UserResult.vacancyRate"
        [managementFee]="UserResult.managementFee"
        [Rent]="getRentFromList(p.data.property_id)"
        [AverageRates]="getAverageRateFromList(p.data.property_id)"
        ></app-mortgage-result>
      </div>
    </div>
  </div>
  <div class="map-container" *ngIf="favoriteProperties.length == FavoriteListResult.length">
    <app-map [listPins]="PropertyCoordinates"></app-map>
  </div>
    <!-- <div *ngFor="let p of favoriteProperties" class="property-card">
    <button (click)="DeleteFavorite(user.id, p.data.property_id)">Delete</button>
    <a [routerLink]="['/property-details', p.data.property_id]">
    <img style="width: 300px;"*ngIf="p.data.photos[0].href != null" src="{{ p.data.photos[0]?.href }}"/></a>
    <p *ngIf="p.data.photos[0]?.href == null"><img src = "https://en.pimg.jp/072/139/682/1/72139682.jpg"></p>
    <br>
    <h3>{{ p.data.list_price | currency }}</h3>
    <p><strong>{{ p.data.description.beds }} Beds &nbsp; {{ p.data.description.baths }} Baths &nbsp; {{ p.data.description.sqft }} Square Feet</strong> </p>
    <br>
    </div> -->
</div>
<!-- <div *ngIf="favoriteProperties.length == FavoriteListResult.length" class="map-container">
<app-map [listPins]="PropertyCoordinates"></app-map> -->
<!-- </div> -->