<h1>Favorites</h1>
<br>
<!-- <app-mortgage-form
  (MortgageCreated)="NewMortgage($event)"
  (VacancyRate)="VacancyRate($event)"
  (NumBeds)="NumBeds($event)"
  (ManagementFee)="ManagementFee($event)"
></app-mortgage-form> -->
<div *ngFor="let p of favoriteProperties">
    <button (click)="DeleteFavorite(user.id, p.data.property_id)">Delete</button>
    <a [routerLink]="['/property-details', p.data.property_id]">
    <img style="width: 300px;"*ngIf="p.data.photos[0].href != null" src="{{ p.data.photos[0]?.href }}"/></a>
    <p *ngIf="p.data.photos[0]?.href == null"><img src = "https://en.pimg.jp/072/139/682/1/72139682.jpg"></p>
    <br>
    <br>
    <p>Price: {{ p.data.list_price | currency }}</p>
    <p>Address: {{ p.data.location.address.line }}, {{ p.data.location.address.city }}, {{ p.data.location.address.postal_code }} {{ p.data.location.address.state_code }}</p>
    <p>#Beds: {{ p.data.description.beds }}</p>
    <P># Baths: {{ p.data.description.baths }}</P>
    <p>Square Feet: {{ p.data.description.sqft }}</p>
    <br>
    <app-mortgage-result
    [DisplayResult]="ConvertDetailsToResult(p)"
    [User]="UserResult"
    [vacancyRate]="UserResult.vacancyRate"
    [managementFee]="UserResult.managementFee"
    [Rent]="getRentFromList(p.data.property_id)"
    ></app-mortgage-result>
  <!-- [AverageRates]="UserResult.averageRates" -->

    
</div>

<div *ngIf="favoriteProperties.length == FavoriteListResult.length ">
<app-map [listPins]="PropertyCoordinates"></app-map>
</div>