<p>map works!</p>

<google-map height="500px"
            width="900px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
           
<!-- <map-marker *ngFor="let markerPosition of coordinates" [position]="{lat:markerPosition.lat, lng:markerPosition.lon}" [label]="'bob'" (mapClick)="Click()"></map-marker> -->
    <div *ngIf="favoritePins[0]!=null">
<map-marker  *ngFor="let markerPosition of GetCoordinates()" [position]="{lat:markerPosition.lat, lng:markerPosition.lon}" (mapClick)="Click()"></map-marker>
    </div>    
</google-map>
