.cashFlow {
    background-color: #249714;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.negCashFlow {
    background-color: #922121;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;

}