<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    
</body>
</html>
<app-mortgage-form (MortgageCreated)="NewMortgage($event)", (VacancyRate)="VacancyRate($event)"></app-mortgage-form>
<div *ngIf="PropertyListResult.data != null">
<div *ngFor="let p of PropertyListResult.data.home_search.results">
   
    <img style="width: 300px;" *ngIf="p.primary_photo?.href != null" src="{{p.primary_photo?.href}}"/>
    <p *ngIf="p.primary_photo?.href == null"><img src = "https://en.pimg.jp/072/139/682/1/72139682.jpg"></p>
    <p>Price: {{p.list_price}}</p>
    <p>Address: {{p.location.address.line}}, {{p.location.address.city}}, {{p.location.address.postal_code}} {{p.location.address.state_code}}</p>
    <p>#Beds: {{p.description.beds}}</p>
    <P># Baths: {{p.description.baths}}</P>
    <p>Square Feet: {{p.description.sqft}}</p>
    <button id="heart" (click)="AddFavorites(user.id,p.property_id)">
        <i class="fas fa-heart">
        </i></button>
        <td><button (click)="RemoveFavorite(user.id, p.property_id)">Delete</button> </td>
    <p><app-mortgage-result [DisplayResult]="p" [downPayment]="appUser.downPayment" [closingCost]="appUser.closingCost" [User]="appUser"></app-mortgage-result></p>
</div>
</div>

<!-- <button id="heart" (click)="AddFavorites("4200",p.property_id)"i class="fas fa-heart"></i>hi </button> -->